body {
    /*background:url(subtlenet2.png);*/
    font: 1em 'PT Sans', Tahoma, Arial;
    text-transform:uppercase;
	
	    background: black url("photo_if_1500x500.jpg") 120px 30px repeat fixed;

}

/********** Main menu**********/
.photoif { 
background-attachment: fixed;
	position:absolute;
left: 250px;
display: none;
	}
	
	

.nav {

    list-style:none;
    margin:30px;
    opacity:0.95;  /*- прозрачність*/
    padding:0;
    width:50px;
    
    -moz-transition:opacity .3s ease-in-out;
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}

.nav:hover {
    opacity:1;
}

.nav li {
    height:50px;
    overflow:hidden;
    width:50px;
    
    -moz-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -webkit-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -o-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    transition:width .2s ease-in-out, height .2s ease-in-out .2s;
}

.nav li:hover { border-radius: 10px;
    height:175px;
    width:200px;
}

.nav li a {
    background:#bbb;
    color:#fff;
    cursor:pointer;
    display:block;
    height:40px;
    line-height:40px;
    margin:1px;
    padding-left:15px;
    width:200px;
    text-decoration:none;
    
    -moz-transition:background .2s ease-in-out;
    -webkit-transition:background .2s ease-in-out;
    -o-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
}

.nav li a:hover {
    background:#2fc5ff;
}

.nav li a:first-child {
    font-size:1.1em;
    height:50px;
    line-height:50px;
    position:relative;
    text-indent:36px;
}

.nav li a:first-child::before {
    content:'';
    display:block;
    height:32px;
    left:9px;
    position:absolute;
    top:9px;
    width:32px;
}

.main-menu a:first-child::before {
    background:url(menu.png) center no-repeat;
	 background-position: 0;
}

.settings a:first-child::before {
    background:url(menu.png) center no-repeat;
	 background-position: -30px;
}

.link a:first-child::before {
    background:url(menu.png) center no-repeat;
	 background-position: -63px;
}

.search a:first-child::before {
    background:url(menu.png) center no-repeat;
	 background-position: -97px;
}

.down {
    color: #888;
    text-transform: none;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 300px;
}

.down:hover {
    color: #333;
}